{% macro getTable(tableData, page) %}

<div class="box">
	<div class="box-content">

		{# Table For Places  #}
		{% if page == 'places-table' %}
			<table class="table table-hover">
				<thead>
					<tr>
						<th>PLACE</th>
						<th>CITY</th>
						<th>COUNTRY</th>
					</tr>
				</thead>
				<tbody>
					{% for item in tableData %}
						<tr>
							<td class="m-ticker"><b>{{ item.name }}</b><span>Edit | Delete</span></td>
							<td>{{ item.city.name }}</td>
							<td>{{ item.country.name }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		{% elseif page == 'news-table' %}
			<table class="table table-hover">
				<thead>
					<tr>
						<th>TITLE</th>
						<th>PLACE</th>
					</tr>
				</thead>
				<tbody>
					{% for item in tableData %}
						<tr>
							<td class="m-ticker"><b>{{ item.title }}</b><span>Edit | Delete</span></td>
							<td>{{ item.place.name }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}

		
	</div>
</div>

{% endmacro %}